<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="src" value="root-path-2"/>
    <add key="root-path-0" value="\\vmware-host\Shared Folders\_music\mp3"/>
    <add key="root-path-1" value="\\vmware-host\Shared Folders\_music"/>
    <add key="root-path-2" value="\\bitbucket01\media\Music"/>
    <add key="root-path-3" value="\\bitbucket01\media\Music\Unknown Artist"/>
    <add key="root-path-4" value="\\jrg-nbk4\music$\ipod"/>
    <add key="root-path-5" value="\\bitbucket01\media\Music\iPodRip"/>
  </appSettings>
  <connectionStrings>
    <add name="SongData" connectionString="Data Source=localhost\sql2k8r2;Initial Catalog=mp3data;Integrated Security=True"/>
  </connectionStrings>
</configuration>